<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.LINK" />
        </intent>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.REGISTER" />
        </intent>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.UNREGISTER" />
        </intent>
    </queries>

    <application>
        <service android:exported="true" android:name="org.unifiedpush.android.connector.RaiseToForegroundService">
            <intent-filter>
                <action android:name="org.unifiedpush.android.distributor.RAISE_TO_FOREGROUND" />
            </intent-filter>
        </service>
        <activity android:name="org.unifiedpush.android.connector.LinkActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
    </application>
</manifest>