<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.unifiedpush.android.connector">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.REGISTER" />
        </intent>
        <intent>
            <action android:name="org.unifiedpush.android.distributor.UNREGISTER" />
        </intent>
    </queries>

</manifest>